{% extends "base.html" %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}Consulta el Estado de tu Remisión{% endblock %}

    {% block estilos %}
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block encabezado %}
    <header class="bg-primary text-white text-center py-4">
        <h1>Consulta el Estado de tu Remisión</h1>
    </header>
    {% endblock %}
    
    {% block barra %}
    <!-- Puedes agregar una barra de navegación aquí si es necesario -->
    {% endblock %}
    
    {% block contenido %}
    <div class="container mt-5">
        <!-- Formulario para ingresar el número de estado -->
        <form method="POST" class="form-inline justify-content-center">
            {% csrf_token %}
            <div class="form-group mx-2">
                <label for="numero_estado" class="sr-only">Número de Estado:</label>
                <input type="text" id="numero_estado" name="numero_estado" class="form-control" placeholder="Número de Estado" required>
            </div>
            <button type="submit" class="btn btn-primary">Consultar</button>
        </form>

        <!-- Mostrar los resultados de la consulta -->
        <div class="mt-4">
            {% if remision %}
                <h2>Detalles de la Remisión</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Número de Remisión:</strong> {{ remision.pk }}</li>
                    <li class="list-group-item"><strong>Equipo:</strong> {{ remision.Equipo.numero_serie }}</li>
                    <li class="list-group-item"><strong>Estado:</strong> {{ remision.estatus }}</li>
                </ul>
            {% elif error %}
                <div class="alert alert-danger mt-4">{{ error }}</div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
{% block script %}
    <!-- Enlace a Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src=static/js/estado_remision.js></script>
    {% endblock %}
</html>

